body {
  background-image: url("../images/ocean.jpg");
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.card {
  padding: 20px;
  background: rgb(224, 235, 235, 0.2);
  backdrop-filter: blur(5px);
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.text {
  color: #fff;
}

.search-button,
.current-city-button {
  padding: 8px 25px;
}

.emphasis {
  font-size: 150px;
}

.current-display-icon {
  text-align: right;
  font-size: 150px;
}

.current-temp-display {
  text-align: right;
  font-size: 100px;
}

.secondary {
  font-size: 28px;
}

.precipitation,
.humidity {
  font-size: 18px;
}

.c-f-controls {
  text-align: right;
}

.forecast-icon {
  font-size: 45px;
}

.forecast-day {
  font-size: 25px;
}

.footer {
  text-align: center;
}
